body {
  background: #667db6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bodyStart{
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.styleBox{
  border:dashed 0px #000000;
  -moz-border-radius-topleft: 25px;
  -moz-border-radius-topright:25px;
  -moz-border-radius-bottomleft:25px;
  -moz-border-radius-bottomright:25px;
  -webkit-border-top-left-radius:25px;
  -webkit-border-top-right-radius:25px;
  -webkit-border-bottom-left-radius:25px;
  -webkit-border-bottom-right-radius:25px;
  border-top-left-radius:25px;
  border-top-right-radius:25px;
  border-bottom-left-radius:25px;
  border-bottom-right-radius:25px;
}